header {
    padding: 0 7% 30px 3%;
}

header > img {
    height: 50px;
    width: 100px;
}

.lista-na-klimi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}